*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) repeat(7, min-content); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2-light {
    color: #f9f7f6; }
  .heading-2-dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4-light {
    color: #f9f7f6; }
  .heading-4-dark {
    color: #54483a; }

.btn {
  padding: 1.8rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #b28451; }

.u-mt-sm {
  margin-top: 2rem; }

.u-mt-md {
  margin-top: 3rem; }

.u-mt-lg {
  margin-top: 4rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-mb-md {
  margin-bottom: 3rem; }

.u-mb-lg {
  margin-bottom: 4rem; }

.features {
  margin: 15rem 0;
  grid-area: 2 / center-start / 3 / center-end;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem; }
  @media only screen and (max-width: 62.5em) {
    .features {
      grid-area: 3 / center-start / 4 / center-end; } }
  @media only screen and (max-width: 50em) {
    .features {
      grid-area: 4 / full-start / 5 / full-end;
      margin: 8rem 4rem; } }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem 2rem; }
  .feature-icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #c69963;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature-text {
    font-size: 1.7rem; }

.gallery {
  background-color: #f9f7f6;
  grid-area: 5 / full-start / 6 / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem; }
  .gallery-item-1 {
    grid-area: 1/1/3/3; }
  .gallery-item-2 {
    grid-area: 1/3/4/6; }
  .gallery-item-3 {
    grid-area: 1/6/3/7; }
  .gallery-item-4 {
    grid-area: 1/7/3/-1; }
  .gallery-item-5 {
    grid-area: 3/1/6/3; }
  .gallery-item-6 {
    grid-area: 4/3/6/5; }
  .gallery-item-7 {
    grid-area: 4/5/5/6; }
  .gallery-item-8 {
    grid-area: 3/6/5/8; }
  .gallery-item-9 {
    grid-area: 3/8/6/-1; }
  .gallery-item-10 {
    grid-area: 6/1/-1/2; }
  .gallery-item-11 {
    grid-area: 6/2/-1/4; }
  .gallery-item-12 {
    grid-area: 6/4/-1/5; }
  .gallery-item-13 {
    grid-area: 5/5/-1/8; }
  .gallery-item-14 {
    grid-area: 6/8/-1/-1; }
  .gallery-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.houses {
  grid-area: 4 / center-start / 5 / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 9rem;
  margin: 15rem 0; }
  @media only screen and (max-width: 62.5em) {
    .houses {
      grid-area: 5 / center-start / 6 / center-end; } }
  @media only screen and (max-width: 50em) {
    .houses {
      grid-area: 7 / center-start / 8 / center-end;
      margin: 8rem 0; } }

.house {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem; }
  .house-image {
    width: 100%;
    grid-area: 1/1/2/-1; }
  .house-favorite {
    grid-area: 1/2/2/3;
    width: 2.5rem;
    height: 2.5rem;
    fill: #c69963;
    justify-self: end;
    margin: 1.5rem; }
  .house-name {
    grid-area: 1/1/2/-1;
    padding: 1.2rem;
    text-align: center;
    background-color: #101d2c;
    font-size: 1.6rem;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    width: 80%;
    justify-self: center;
    align-self: end;
    transform: translateY(2.5rem); }
  .house-location, .house-rooms {
    margin-top: 2.5rem; }
  .house-location, .house-rooms, .house-area, .house-price {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 3rem; }
    .house-location svg, .house-rooms svg, .house-area svg, .house-price svg {
      fill: #c69963;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem; }
  .house-btn {
    grid-column: 1/-1; }

.realtors {
  background-color: #101d2c;
  grid-area: 1 / col-start 7 / 2 / full-end;
  grid-column: col-start 7 / full-end;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  row-gap: 3rem; }
  @media only screen and (max-width: 62.5em) {
    .realtors {
      grid-area: 2 / col-start 7 / 3 / full-end; } }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-area: 3 / full-start / 4 / full-end;
      padding: 3rem 0; } }
  .realtors-list {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 5vh 1.5rem;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .realtors-list {
        grid-template-columns: repeat(3, min-content max-content); } }
    @media only screen and (max-width: 37.5em) {
      .realtors-list {
        grid-template-columns: min-content max-content; } }
  .realtors-img {
    display: block;
    width: 7rem;
    border-radius: 50%; }
  .realtors-sold {
    text-transform: uppercase;
    font-size: 1rem;
    color: #aaa; }

.testimonial-images {
  grid-area: 3 / full-start / 4 / col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover; }
  @media only screen and (max-width: 62.5em) {
    .testimonial-images {
      grid-area: 4 / full-start / 5 / col-end 4; } }
  @media only screen and (max-width: 50em) {
    .testimonial-images {
      grid-area: 6 / full-start / 7 / full-end;
      padding: 6rem; } }

.testimonial-img-1 {
  width: 100%;
  grid-area: 2/2/6/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 50em) {
    .testimonial-img-1 {
      grid-area: 1/1/-1/5; } }

.testimonial-img-2 {
  width: 115%;
  grid-area: 4/4/6/-1;
  z-index: 1;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .testimonial-img-2 {
      grid-row: 1/-1;
      width: 100%; } }

.testimonial-content {
  padding: 6rem 8vw;
  background-color: #f9f7f6;
  grid-area: 3 / col-start 5 / 4 / full-end;
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 62.5em) {
    .testimonial-content {
      grid-area: 4 / col-start 5 / 5 / full-end; } }
  @media only screen and (max-width: 50em) {
    .testimonial-content {
      grid-area: 5 / full-start / 6 / full-end; } }

.testimonial-text {
  font-size: 1.5rem;
  font-style: italic; }

.sidebar {
  background-color: #c69963;
  grid-area: 1 / sidebar-start / -1 / sidebar-end;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-area: 1/1/2/-1;
      justify-content: flex-end;
      align-items: center; } }
  .sidebar .nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    width: 4.5rem;
    height: 0.2rem;
    margin-top: 4rem; }
    .sidebar .nav-btn::before, .sidebar .nav-btn::after {
      content: "";
      display: block;
      background-color: #fff;
      width: 4.5rem;
      height: 0.2rem; }
    .sidebar .nav-btn::before {
      transform: translateY(-1.5rem); }
    .sidebar .nav-btn::after {
      transform: translateY(1.3rem); }
    @media only screen and (max-width: 62.5em) {
      .sidebar .nav-btn {
        margin-top: 0;
        margin-right: 2rem; }
        .sidebar .nav-btn::before {
          transform: translateY(-1.2rem); }
        .sidebar .nav-btn::after {
          transform: translateY(1.2rem); } }

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem; }
  .footer .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    gap: 2rem; }
    .footer .nav-link:link, .footer .nav-link:visited {
      display: block;
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      transition: all 0.2s; }
    .footer .nav-link:hover, .footer .nav-link:active {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }
  .footer .copyright {
    font-size: 1.4rem;
    color: #aaa;
    margin: 6rem auto 0;
    text-align: center; }

.header {
  grid-area: 1 / full-start/2/col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 4rem 8rem 8rem 8rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .header {
      grid-area: 2 / full-start / 3 / col-end 6; } }
  @media only screen and (max-width: 50em) {
    .header {
      grid-area: 2 / full-start / 3 / full-end; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header-logo {
    max-width: 100%;
    max-height: 3rem;
    justify-self: center; }
  .header-btn {
    align-self: start;
    justify-self: start; }

.logo-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  justify-items: center;
  align-items: center; }
  .logo-box-text {
    font-size: 1.6rem;
    color: #aaa;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center; }
    .logo-box-text::before, .logo-box-text::after {
      content: "";
      height: 0.1rem;
      display: block;
      background-color: currentColor; }
  .logo-box-item {
    max-width: 100%;
    max-height: 2.5rem;
    filter: brightness(70%); }
