.features {
  margin: 15rem 0;
  grid-area: 2 / center-start / 3 / center-end;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;

  @include respond(large) {
    grid-area: 3 / center-start / 4 / center-end;
  }

  @include respond(medium) {
    grid-area: 4 / full-start / 5 / full-end;
    margin: 8rem 4rem;
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem 2rem;

  &-icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-primary;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &-text {
    font-size: 1.7rem;
  }
}
